practice-gz/src/main/resources/META-INF/custom/v2/xqc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.org/schema/xqc"
            xmlns="http://www.example.org/schema/xqc"
            elementFormDefault="qualified">
    <xsd:element name="redis">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="ip" type="xsd:string" />
            <xsd:attribute name="port" type="xsd:string" />
            <xsd:attribute name="desc" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="mongodb">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="ip" type="xsd:string" />
            <xsd:attribute name="port" type="xsd:string" />
            <xsd:attribute name="desc" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>